.sign-in {
    display: inline-block;
    float: right;
    height: 30px;
    margin-top: -13px;
}
#sign-in-button {margin-top: 5px;}
#sign-in-form {height: 0; display: inline-block; float: right;}
.asterisc {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}
#registration {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 800px;
    margin-top: 100px;
}
#registrationForm {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    margin-top: 10%;
}
.alert {color: #ff0000}
.help-inline{color: #ff0000}
caption {text-align: center; font-size: 26px;}
select {width: 200px;}
ul.ui-menu { max-height: 260px !important; }
h3 {text-align: center;}
#sign-in-button {margin-top: 10px;}
#email-div { float: left; }
